:root {
  --primary-color: #f9f9f9;
  --secondary-color: #8c00ff;
}

.menuItem {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  font-family: Inter;
  font-size: 24px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.container-fluid {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 12px 32px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  background-color: #252525;
}

.nav-link {
  font-family: Inter;
  color: var(--primary-color);
  text-decoration: underline;
}

.nav-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-link:active {
  color: var(--secondary-color);
  text-decoration: none;
}

body {
  background-color: #252525;
}

h1 {
  font-family: Inter;
  font-size: 32px;
  font-weight: Medium;
  color: var(--primary-color);
}

h2 {
  font-family: Inter;
  font-size: 48px;
  color: var(--primary-color);
  line-height: 130%;
}

a {
  font-family: Inter;
  color: var(--primary-color);
  text-decoration: underline;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

a:visited {
  color: var(--primary-color);
}

.introduction {
  margin: 64px 48px;
}

footer {
  margin: 48px 24px;
  font-family: Inter;
  font-size: 24px;
  text-align: center;
}
