:root {
  --primary-color: #f9f9f9;
  --secondary-color: #8c00ff;
}

.container {
  align-items: center;
  max-width: 960px;
}
.menuItem {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  font-family: Inter;
  font-size: 24px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.container-fluid {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 12px 32px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  background-color: #252525;
}

.nav-link {
  font-family: Inter;
  color: var(--primary-color);
  text-decoration: underline;
}

.nav-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.active {
  color: var(--secondary-color) !important;
  text-decoration: none;
}

body {
  background-color: #252525;
}

h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  color: var(--primary-color);
}

h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  color: var(--primary-color);
  line-height: 150%;
}

h3 {
  font-family: Inter;
  font-size: 24px;
  color: var(--primary-color);
  line-height: 130%;
}

h4 {
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-color);
  line-height: 130%;
}

h5 {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-color);
  line-height: 150%;
}

p {
  font-family: Inter;
  font-size: 18px;
  color: var(--primary-color);
  line-height: 130%;
}
.project-name {
  padding-top: 16px;
  font-weight: 500;
  font-family: Inter;
  font-size: 24px;
  color: var(--primary-color);
}

.description {
  padding-top: 16px;
  font-family: Inter;
  font-size: 18px;
  color: var(--primary-color);
}

.container {
  margin-top: 40px;
}

.row {
  margin-bottom: 40px;
}

.portrait {
  width: 50%;
}

.experienceBlock {
  margin: 40px auto;
}

.descriptionBlock {
  margin: 24px auto;
}

a {
  font-family: Inter;
  color: var(--primary-color);
  text-decoration: underline;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.contentBlock {
  margin: 64px 48px;
}

hr.solid {
  border-top: 1px solid;
  color: var(--primary-color);
}

footer {
  margin: 48px 24px;
  font-family: Inter;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 32px;
  }
}
